streamlit
pandas
numpy
plotly
SALib
pymoo
scipy
folium
streamlit-folium
geopandas
shapely
fiona
scikit-learn
shap
lime
tensorflow-cpu
netcdf4
xarray
requests
reportlab
fpdf2
pylatex
pydantic
pyproj
rasterio